.search-resault {
  grid-area: list;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: bisque;
}
.list-item {
  font-size: 25px;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
  // padding: 0 3.5rem;
}

//
.pg-container {
  padding: 0px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-size: 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.342);
  padding: 15px;
  li {
    list-style: none;
    &:not(:last-child) {
      margin-right: 5px;
    }
    a {
      text-decoration: none;
      color: inherit;
      transition: all 0.3s;
      padding: 3px;
      display: block;
    }
    a:hover {
      transform: scale(1.5) translateY(-3px);
      color: red;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}

.footer {
  text-align: center;
}
