.recipe-view {
  grid-area: recipe;
  background-color: $color-grey-light-1;
}
.recipe {
  ///////////
  // FIGURE
  &__fig {
    height: 42rem;
    position: relative;
    // transform: scale(1.04) translateY(-1px);
    transform-origin: top;

    // &::before {
    //   content: '';
    //   display: block;
    //   height: 100%;
    //   width: 100%;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   background-image: linear-gradient(
    //     to right bottom,
    //     $color-grad-1,
    //     $color-grad-2
    //   );
    //   opacity: 0;
    // }
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    flex: 60%;
  }

  &__title {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-weight: 700;
    font-size: 2.1rem;
    text-transform: uppercase;
    width: 80%;
    line-height: 2;
    text-align: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 0.5rem 1rem;

      // background-image: linear-gradient(
      //   to right bottom,
      //   $color-grad-1,
      //   $color-grad-2
      // );
      background-color: white;
      color: #f86056;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  ///////////
  // DETAILS
  &__details {
    position: relative;
    display: flex;
    flex: 40%;
    flex-direction: column;
    // align-items: center;
    padding: 1.5rem 3rem;
  }

  &__favorite {
    position: absolute;
    top: 360px;
    left: 320px;
  }

  &__info {
    // font-size: 1.65rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 5px;

    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__info-icon {
    height: 2.2rem;
    width: 2.2rem;
    fill: $color-primary;
    margin-right: 1.15rem;
  }
  &__info-text {
    font-size: 1.5rem;
  }
  &__info-data {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    background-color: darken($color-grey-light-2, 2%);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;

    margin-left: auto;
    margin-right: 1.75rem;
  }

  ///////////
  // INGREDIENTS
  &__ingredients {
    padding: 5rem 5rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: $color-grey-light-2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
    list-style: none;
  }

  &__ingredient {
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }

  &__quantity {
    margin-right: 0.5rem;
    flex: 0 0 auto;
    margin-left: 5px;
  }

  ///////////
  // DIRECTIONS
  &__directions {
    padding: 5rem 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: $color-grey-dark-2;
  }

  &__publisher {
    font-weight: 700;
  }
}
.ing-icon {
  height: 2.2rem;
  width: 2.2rem;
  fill: $color-primary;
  padding-right: 5px;
}
