* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #615551;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ee8e57), to(#f86056));
  background-image: linear-gradient(to right bottom, #ee8e57, #f86056);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  -webkit-box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
          box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10rem minmax(100rem, auto);
      grid-template-rows: 10rem minmax(100rem, auto);
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 'head head' 'list recipe';
}

@media only screen and (max-width: 78.15em) {
  .container {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.btn, .btn--small, .btn--small:link, .btn--small:visited {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ee8e57), to(#f86056));
  background-image: linear-gradient(to right bottom, #ee8e57, #f86056);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover, .btn--small:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn:focus, .btn--small:focus {
  outline: none;
}

.btn > *:first-child, .btn--small > *:first-child {
  margin-right: 1rem;
}

.btn {
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}

.btn--small, .btn--small:link, .btn--small:visited {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.25rem 2.25rem;
  text-decoration: none;
}

.btn--small svg, .btn--small:link svg, .btn--small:visited svg {
  height: 1.75rem;
  width: 1.75rem;
  fill: currentColor;
}

.btn--inline {
  color: #f38e82;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-color: #f9f5f3;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn--inline svg {
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin: 0 0.2rem;
}

.btn--inline span {
  margin: 0 0.4rem;
}

.btn--inline:hover {
  color: #f86056;
  background-color: #f2efee;
}

.btn--inline:focus {
  outline: none;
}

.btn--round {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ee8e57), to(#f86056));
  background-image: linear-gradient(to right bottom, #ee8e57, #f86056);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn--round:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.btn--round:focus {
  outline: none;
}

.btn--round svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
}

.btn--tiny {
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.btn--tiny svg {
  height: 100%;
  width: 100%;
  fill: #f38e82;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--tiny:focus {
  outline: none;
}

.btn--tiny:hover svg {
  fill: #f86056;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.btn--tiny:active svg {
  fill: #f86056;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn--tiny:not(:last-child) {
  margin-right: 0.3rem;
}

.heading--2 {
  font-size: 2rem;
  font-weight: 700;
  color: #f38e82;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
}

.link:link,
.link:visited {
  color: #918581;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #f38e82;
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.message,
.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message svg,
.error svg {
  height: 6rem;
  width: 6rem;
  fill: #f38e82;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.message p,
.error p {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
  background-color: #f9f5f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-left: 4rem;
  height: 4.6rem;
  display: block;
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search:focus-within {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.7rem 3rem rgba(97, 85, 81, 0.08);
          box-shadow: 0 0.7rem 3rem rgba(97, 85, 81, 0.08);
}

.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 30rem;
}

.search__field:focus {
  outline: none;
}

.search__field::-webkit-input-placeholder {
  color: #d3c7c3;
}

.search__field:-ms-input-placeholder {
  color: #d3c7c3;
}

.search__field::-ms-input-placeholder {
  color: #d3c7c3;
}

.search__field::placeholder {
  color: #d3c7c3;
}

@media only screen and (max-width: 61.25em) {
  .search__field {
    width: auto;
  }
  .search__field::-webkit-input-placeholder {
    color: white;
  }
  .search__field:-ms-input-placeholder {
    color: white;
  }
  .search__field::-ms-input-placeholder {
    color: white;
  }
  .search__field::placeholder {
    color: white;
  }
}

.search__btn {
  font-weight: 600;
  font-family: inherit;
}

.nav {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-right: 2.5rem;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.nav__item {
  position: relative;
}

.nav__btn {
  height: 100%;
  font-family: inherit;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__btn svg {
  height: 2.4rem;
  width: 2.4rem;
  fill: #f38e82;
  margin-right: 0.7rem;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.nav__btn:focus {
  outline: none;
}

.nav__btn:hover {
  background-color: #f2efee;
}

.bookmarks {
  padding: 1rem 0;
  position: absolute;
  right: -2.5rem;
  z-index: 10;
  width: 40rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.8rem 5rem 2rem rgba(97, 85, 81, 0.1);
          box-shadow: 0 0.8rem 5rem 2rem rgba(97, 85, 81, 0.1);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
}

.bookmarks__list {
  list-style: none;
}

.bookmarks__field {
  cursor: pointer;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bookmarks__field:hover {
  background-color: #f2efee;
}

.bookmarks:hover,
.nav__btn--bookmarks:hover + .bookmarks {
  visibility: visible;
  opacity: 1;
}
